---
import '@styles/main.css';
import { ViewTransitions } from "astro:transitions";

---

<!doctype html>
<html lang='se'>
    <head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <ViewTransitions />
		<title>Floristik.nu</title>
	</head>
    <body transition:animate="none">
        <header class="padding-100">
            <container-text class="margin-inline-auto">
                <a href="/" class="flex gap-25 align-items-center font-weight-500 padding-50">
                    <img src="/icons/home.svg" alt="" height="24" width="24" />
                    Hem
                </a>
            </container-text>
        </header>
        <main class="flex-grow-100 padding-50">
            <slot></slot>
        </main>
    </body>
</html>

<style>
    aside {
        box-shadow: 0 0 .5rem -.25rem lightslategray;
        height: 100dvh;
    }

    a {
        color: black;
        text-decoration: none;
        border-radius: .25rem;
        transition: background-color .2s ease;
        width: fit-content;
        margin-left: auto;
    }

    a:hover {
        background-color: #e0e6eb;
    }

</style>